<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.photo.mapper.BaseStationMapper">
    <select id="selectByAddress" resultType="com.water.photo.domain.BaseStation">
        select id,address_no AS addressNo,room,qrcode
        from tab_base_station
        <where>
            <if test="address!=null and address!=''">
                and room like CONCAT('%',#{address},'%')
            </if>
        </where>
    </select>
</mapper>