<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.photo.mapper.DataMapper">
    <select id="selectByName" resultType="com.water.photo.domain.Data">
        select id,content,name,create_time AS createTime from tab_data
        <where>
            <if test="name!=null and name != ''">
                and name like CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>