<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.water.photo.mapper.ProjectMapper">
    <select id="selectByOriginName" resultType="com.water.photo.domain.Project">
        select id,
        county,
        main_project_attribute AS mainProjectAttribute,
        original_site_name AS originalSiteName,
        standard_site_name AS standardSiteName,
        build_method AS buildMethod,
        area_attribute AS areaAttribute,
        longitude,
        latitude,
        num_community AS nuCommunity,
        height,
        azimuth_community1 AS azimuthCommunity1,
        azimuth_community2 AS azimuthCommunity2,
        azimuth_community3 AS azimuthCommunity3,
        spectrum,
        antenna_type AS antennaType,
        site_name AS siteName,
        ip,
        esn_no AS esnNo,
        status,
        baseband,
        num_platform AS numPlatform
        from tab_project
        <where>
            <if test="address!=null and address!=''">
                and original_site_name like CONCAT('%',#{address},'%')
            </if>
        </where>
    </select>
</mapper>